body{
    background-color: #edf0f5;
}
.left{
    margin: 10%;
    margin-top: 15%;
    
}
.right{
    border: gray 1px solid;
    border-radius: 8px;
    padding: 10px;
    margin-top: 10%;
    box-shadow: rgb(109, 107, 107) 2px 5px 5px 5px;
}
.Connexion{
    width: 100%;
    background-color: #1876F1;
    color: white;
}
.new{
    background-color: #42872A;
    color: white;
    
}
.newbtn{
   padding-left: 20px;
}
h1{
    color: #1876F1;
    font-size: 60px;
    padding-left: 6  rem;
}
h6{
    font-size: 10px;
    padding-top: 12px;
   
}
p{
    font-size: 16px;
    font-weight: bold;
    padding-left: 5rem;
}